body {
  font-family: "DM Sans", sans-serif;
}

// Deafult variables
:root {
  // Colors
  --main-color: #f8f8f8;
  --secondary-color: TBD;
  --accent-color: #6495b5;
  --main-background-color: #f8f8f8;
  --constrast-background-color-50: rgb(0, 0, 0, 0.5); 
  --constrast-background-color-25: rgb(0, 0, 0, 0.1); 

  //card

  // Sizes
  --toolbar-height: 100px;

  // Others
  --main-transition: 0.25s all ease-in-out;
}

// Variables on Dark Mode
.dark-mode {
  // Colors
  --main-color: #1a252e;
  --secondary-color: TBD;
  --accent-color: #6495b5;

  --main-background-color: #1a252e;
}

// Variables on Mobile
@include mq($until: tablet) {
  :root {
    --toolbar-height: 70px;
  }
}
