html {
  font-family: "DM Sans", Segoe UI, system-ui, -apple-system, sans-serif;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

// Deafult variables
:root {
  // Colors
  --primary-color: #6495b5;
  --secondary-color: TBD;
  --accent-color: #FFA500;

  --constrast-background-color-50: rgb(0, 0, 0, 0.5);
  --constrast-background-color-25: rgb(0, 0, 0, 0.1);
  --text-color: #6c6c6c;

  //card

  // Sizes
  --toolbar-height: 100px;

  // Others
  --main-transition: 0.25s all ease-in-out;
}

// Variables on Dark Mode
.dark-mode {
  // Colors
  --primary-color: #6495b5;
  --secondary-color: TBD;
  --accent-color: #FFA500;

  --text-color: #94a2ad;
}

// Variables on Mobile
@include mq($until: md) {
  :root {
    --toolbar-height: 70px;
  }
}

a:visited {
  color: currentColor;
}

.icon {
  fill: currentColor;
  width: 24px;
  height: 24px;

  &.is-strocke {
    fill: none;
    stroke: currentColor;
  }
}

.container {
  width: 100%;
  max-width: 1300px;
  // padding: 0 150px;
  margin: 0 auto;
  padding: 0 2rem;

  @include mq($from: xs) {
    max-width: 100%;
  }
  @include mq($from: sm) {
    max-width: 540px;
  }
  @include mq($from: md) {
    max-width: 720px;
  }
  @include mq($from: lg) {
    max-width: 960px;
  }
  @include mq($from: xl) {
    max-width: 1140px;
  }
  @include mq($from: xxl) {
    max-width: 1320px;
  }
}

.image {
  max-width: 100%;
  height: auto;
}
