.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.bounce-enter-active {
  animation: toogle-show-menu 0.25s;
}
.bounce-leave-active {
  animation: toogle-show-menu 0.25s reverse;
}

@keyframes toogle-show-menu {
  0% {
    transform: scale(0.95);

    transform-origin: 100% 0;

    opacity: 0;
  }
  100% {
    transform: scale(1);

    opacity: 1;
  }
}
